@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600&display=swap");

* {
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-transform: capitalize;
  transition: all 0.2s linear;

}

.row {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

body {
  background-color: cornflowerblue;
}

.container {
  min-height: 100vh;
  background: cornflowerblue;
}

.container form {
  margin: 0 100px 100px 100px;
  padding: 5%;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
  color: #d6eeee;
}


.container form .row .col .title {
  font-size: 20px;
  color: #333;
  padding-bottom: 5px;
  text-transform: uppercase;
}

.container form .row .col {
  margin: 15px 0;
}



.container form .row .col input:focus {
  border: 1px solid #000;
}


.container form .submit-btn {
  width: 100%;
  padding: 12px;
  font-size: 17px;
  background: #2631a9;
  color: #fff;
  margin-top: 5px;
  cursor: pointer;
}

.container form .submit-btn:hover {
  background: #535e84;
}


tr:hover {
  background-color: #d6eeee;
}

.table {
  margin-top: 20px;
  padding: 45px;
}

table {
  width: 100%;
  border-collapse: collapse;
}

table td,
table th {
  border: 1px solid black;
  padding: 8px;
  text-align: left;
}