@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,700;1,600&family=Oswald:wght@377&family=Satisfy&family=Spline+Sans:wght@300;400&display=swap");

:root {
  --blue: #17b0e3;
  --blue2: #194376;
  --orange: #e37917;
  --white: #dbedff;
}

* {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
  border: none;
  text-decoration: none;
  transition: all 0.2s linear;
}

body {
  margin: 0;
  font-family: "Open Sans", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #757575;
  text-align: left;
  background-color: #f4eded;
}

*::selection {
  background: var(--orange);
  color: white;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-padding-top: 6rem;
  scroll-behavior: smooth;
}

section {
  padding: 3rem 9%;
}

.btn {
  display: inline-block;
  margin-top: 0.1rem;
  background: var(--orange);
  color: white;
  padding: 0.8rem 3rem;
  border: 0.2rem solid var(--orange);
  cursor: pointer;
  font-size: 1.7rem;
}

.btn:hover {
  background: rgba(255, 165, 0, 0.5);
  color: #b7cdb5;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 6px;
  z-index: 1000;
  background: #194376;
}

header .logo {
  margin-left: 30px;
  font-size: 25px;
  font-weight: bolder;
  color: var(--blue);
}

header .logo span {
  color: white;
}

header .navbar a {
  color: white;
  font-size: 17px;
  margin: 0 0.8rem;
}

header .navbar a:hover {
  color: #17b0e3;
}

header .navbar .active {
  color: #17b0e3;
}

header .icons i {
  color: white;
  font-size: 17px;
  margin-right: 2rem;
  cursor: pointer;
}

header .icons i:hover {
  color: #17b0e3;
}

header .search-bar-container {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  padding: 10px 15px;
  border-top: 1px solid #000;
  display: flex;
  align-items: center;
  z-index: 1001;
  clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
}

header .search-bar-container.active {
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

header .search-bar-container #search-bar {
  width: 20%;
  padding: 3px 6px;
  text-transform: none;
  margin-left: 80%;
  color: black;
  font-size: 15px;
  border-color: #194376;
  border-radius: 2px;
}

header .search-bar-container label {
  color: black;
  cursor: pointer;
  font-size: 15px;
  margin-left: 10px;
}

header .search-bar-container label:hover {
  color: white;
}

.login-form-container {
  position: fixed;
  top: -120%;
  left: 0;
  z-index: 10000;
  min-height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form-container.active {
  top: 0;
}

.login-form-container form {
  margin: 2rem;
  padding: 1.5rem 2rem;
  border-radius: 0.5rem;
  background: white;
  width: 50rem;
}

.login-form-container form h3 {
  font-size: 2.5rem;
  color: #444;
  text-transform: uppercase;
  text-align: center;
  padding: 1rem 0;
}

.login-form-container form .box {
  width: 100%;
  padding: 1rem;
  font-size: 1.7rem;
  color: black;
  margin: 0.6rem 0;
  border: 0.1rem solid rgba(0, 0, 0, 0.3);
  text-transform: none;
}

.login-form-container form .box:focus {
  border-color: var(--orange);
}

.login-form-container form #remember {
  margin: 2rem 0;
}

.login-form-container form label {
  font-size: 1.5rem;
}

.login-form-container form .btn {
  display: block;
  width: 100%;
}

.login-form-container form p {
  padding: 1.5px 0;
  font-size: 13px;
  color: #666;
}

.login-form-container form p a {
  color: var(--orange);
}

.login-form-container form p a:hover {
  color: #333;
  text-decoration: underline;
}

.login-form-container #form-close {
  position: absolute;
  top: 1rem;
  right: 2rem;
  font-size: 15px;
  color: #fff;
  cursor: pointer;
}

#menu-bar {
  color: white;
  border: 1px solid white;
  border-radius: 0.1rem;
  font-size: 17px;
  padding: 6px 10px;
  cursor: pointer;
  display: none;
}

.banner {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column;
  position: relative;
  text-align: center;
  z-index: 0;
  background-size: cover;
  background-position-x: center;
  background-image: url("gambar/bg.jpg");
}

.banner h3 {
  font-size: 5rem;
  font-family: monospace;
  color: #fff;
  text-transform: uppercase;
  text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.1);
  text-align: center; /* Menambahkan property text-align: center; */
}

.banner p {
  font-size: 2rem;
  color: #fff;
  padding: 0.5rem 0;
}

.button-modal {
  font-size: 18px;
  padding: 10px 20px;
  color: #fff;
  background: var(--orange);
  text-decoration: none;
  border-radius: 5px;
}

.button-modal:hover {
  background: rgba(255, 165, 0, 0.5);
  color: #b7cdb5;
}

/* Style untuk model (contoh) */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 400px;
}

.modal-content h2 {
  text-align: center;
}

.close {
  color: #aaa;
  float: center;
  font-size: 30px;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
}

.th .td {
  padding: 8px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.th {
  background-color: #f2f2f2;
}

.open-modal-button {
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  border-radius: 5px;
  cursor: pointer;
}

.open-modal-button:hover {
  background-color: #45a049;
}

.heading {
  background: #17b0e3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding-top: 9rem;
  padding-bottom: 2rem;
}

.heading h3 {
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #fff;
}

.heading p {
  color: #fff;
  font-size: 2rem;
}

.heading p span {
  color: #194376;
}

.heading p a {
  color: #fff;
}

.heading p a:hover {
  color: var(--orange);
}

.banner-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(30rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap: 1.5rem;
}

.banner-container .banner {
  height: 25rem;
  overflow: hidden;
  position: relative;
}

.banner-container .banner img {
  height: 100%;
  width: 100%;
  border-radius: 1rem;
  -o-object-fit: cover;
  object-fit: cover;
}

.banner-container .banner:hover img {
  -webkit-transform: scale(1.2);
  transform: scale(1.2);
}

.banner-container .banner .content {
  position: absolute;
  top: 50%;
  left: 2rem;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.banner-container .banner .content span {
  font-size: 1.7rem;
  color: #779;
}

.banner-container .banner .content h3 {
  padding-top: 0.5rem;
  font-size: 2.2rem;
  color: #244d4d;
}

.banner-container .banner .content .btn {
  padding: 0.7rem 2.5rem;
}

.category .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(16rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  gap: 1.5rem;
}

.category .box-container .box {
  padding: 1rem 0.1rem;
  border: 0.3rem solid #525e4c;
  text-align: center;
}

.category .box-container .box:hover {
  background: #525e4c;
}

.category .box-container .box:hover img {
  -webkit-filter: invert(1);
  filter: invert(1);
}

.category .box-container .box:hover h3 {
  color: #fff;
}

.category .box-container .box img {
  height: 6rem;
  margin-bottom: 1rem;
}

.category .box-container .box h3 {
  font-size: 1.7rem;
  color: #244d4d;
}

.packages .box-container {
  display: flex;
  flex-wrap: wrap;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 1rem;
}

.packages .box-container .box {
  flex: 1 1 30rem;
  border-radius: 0.5rem;
  overflow: hidden;
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.1);
}

.packages .box-container .box .content {
  padding: 1rem;
  text-align: center;
}

.packages .box-container .box .content p {
  font-size: 1.5rem;
  color: #333;
}

.packages .box-container .box .content h3 {
  font-size: 2rem;
  color: #333;
}

.packages .box-container .box .content .price {
  font-size: 1.5rem;
  color: red;
}

.packages .box-container .box img {
  height: 30rem;
  width: 100%;
  object-fit: cover;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  margin-bottom: 3rem;
  border-bottom: 0.1rem solid #244d4d;
  padding-bottom: 1.5rem;
}

.title span {
  font-size: 2.5rem;
  color: #194376;
}

.title a {
  font-size: 1.5rem;
  color: #779;
}

.title a:hover {
  color: #244d4d;
}

/* Contact */
.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
}

.contact .row h3 {
  font-size: 3.5rem;
  text-align: left;
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  background: #fff;
  border-radius: 0.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--pink);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

/*signup*/
.signup-container,
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.close {
  margin-left: 90%;
  margin-top: 20px;
  height: 20px;
  width: 20px;
}

.close:hover {
  background-color: #060116;
}

.login-form,
.signup-form {
  margin-left: 50px;
  width: 400px;
  padding: 40px;
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.signup-form h2,
.login-form h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #000;
}

.form-group {
  margin-bottom: 20px;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 5px;
}

.form-group input {
  width: 100%;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.signup-form p,
.login-form p {
  font-size: 12px;
  color: #000;
}

.signup-form a,
.login-form a {
  font-size: 12px;
  color: blue;
}

.btn-login {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4caf50;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-login:hover {
  background-color: #3e8e41;
}

/* About */
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: #333;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
}

/* pesan */
.container {
  max-width: 1200px;
}

.container-contact {
  width: 100%;
  min-height: 100vh;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background: #b7cdb5;
}

.wrap-contact100 {
  width: 500px;
  background: #fff;
  border-radius: 10px;
  overflow: hidden;
  padding: 42px 55px 45px 55px;
}

.contact100-form {
  width: 100%;
}

.contact100-form-title {
  display: block;
  font-family: Helvetica, sans-serif;
  font-size: 35px;
  font-weight: 900;
  color: #333333;
  line-height: 1.2;
  text-align: center;
  padding-bottom: 44px;
}

.wrap-input100 {
  width: 100%;
  position: relative;
  border-bottom: 2px solid #d9d9d9;
  padding-bottom: 13px;
  margin-bottom: 27px;
}

.label-input100 {
  font-family: Helvetica, sans-serif;
  font-size: 13px;
  color: #666666;
  line-height: 1.5;
  padding-left: 5px;
}

.input100 {
  display: block;
  width: 100%;
  background: transparent;
  font-family: Helvetica, sans-serif;
  font-size: 18px;
  color: #333333;
  line-height: 1.2;
  padding: 0 5px;
}

.focus-input100 {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  pointer-events: none;
}

.focus-input100::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -2px;
  left: 0;
  width: 0;
  height: 2px;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
  transition: all 0.4s;
  background: #7f7f7f;
}

input.input100 {
  height: 40px;
}

textarea.input100 {
  min-height: 110px;
  padding-top: 9px;
  padding-bottom: 13px;
}

.input100:focus+.focus-input100::before {
  width: 100%;
}

.has-val.input100+.focus-input100::before {
  width: 100%;
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

/* footer */
.footer {
  background: #194376;
}

.footer .box-container {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
  grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
  gap: 1.5rem;
}

.footer .box-container .box h3 {
  font-size: 2.2rem;
  color: white;
  padding: 1rem 0;
}

.footer .box-container .box p {
  font-size: 1.6rem;
  color: white;
  padding-bottom: 1rem;
}

.footer .box-container .box a {
  font-size: 1.4rem;
  color: white;
  padding: 1rem 0;
  display: block;
}

.footer .box-container .box a:hover {
  color: #000;
}

.footer .box-container .box a:hover i {
  padding-right: 2rem;
}

.footer .box-container .box a i {
  padding-right: 0.5rem;
  color: #000;
}

.footer .box-container .box form input[type="email"] {
  width: 100%;
  padding: 1rem 1.2rem;
  font-size: 1.6rem;
  color: #244d4d;
  text-transform: none;
  margin: 0.7rem 0;
  border: 0.1rem solid #244d4d;
}

.credit {
  text-align: center;
  font-size: 2rem;
  color: white;
  background: #194376;
}

.credit a {
  text-align: center;
  font-size: 2rem;
  color: white;
  background: #17b0e3;
  padding: 0px 5px;
}

.credit a:hover {
  text-align: center;
  font-size: 2rem;
  color: white;
  background: orange;
  padding: 5px;
}

/* Responsive */
@media (max-width: 1200px) {
  html {
    font-size: 55%;
  }
}

@media (max-width: 991px) {
  header {
    padding: 2rem;
  }
}

@media (max-width: 768px) {
  #menu-bar {
    display: initial;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    right: 0;
    left: 0;
    background: #194376;
    border-top: 0.1rem solid rgba(255, 255, 255, 0.2);
    padding: 1rem 2rem;
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
  }

  header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }

  header .navbar a {
    display: block;
    border-radius: 0.3rem;
    padding: 1.5rem;
    margin: 1.5rem 0;
  }
}

@media (max-width: 576px) {
  .wrap-contact100 {
    padding: 72px 15px 65px 15px;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
}

/* Produk index.html */
.produk-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 20px;
}

.produk {
  border: 1px solid #17b0e3;
  border-radius: 5px;
  overflow: hidden;
}

.produk img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.produk-body {
  padding: 10px;
}

.produk-title {
  color: #194376;
  font-size: 20px;
  margin: 0 0 10px 0;
}

.produk-text {
  font-size: 14px;
  margin: 0 0 10px 0;
}

/* Box icon halaman home*/
.icon-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  gap: 20px;
}

.icon-box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
  background-color: #d0f0fb;
}

.icon-box i {
  color: #17b0e3;
  font-size: 50px;
  margin-bottom: 10px;
}

.icon-box h4 {
  font-size: 20px;
  margin: 0;
  text-align: center;
}

#map {
  width: 100%;
  height: 400px;
}

#popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 9999;
}

.popup-content {
  background-color: #fff;
  padding: 20px;
  max-width: 400px;
  text-align: center;
}

#closePopup {
  margin-top: 10px;
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

#closePopup:hover {
  background-color: #555;
}